body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
#gameCanvas, #endScreen, #homeScreen, #tutorialScreen {
    display: none; /* Initially hidden */
}
#gameCanvas.active, #endScreen.active, #homeScreen.active, #tutorialScreen.active {
    display: block; /* Show active screen */
}
#homeScreen {
    /*citing w3school: https://www.w3schools.com/cssref/tryit.php?filename=trycss3_background_hero*/
    background-image: url("assets/homeScreen.png");
    background-color: #cccccc; /* Used if the image is unavailable */
    width: 640px;
    height: 480px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */

    img.play:hover {
        content: url("assets/playDark.png");
    }
    img.htp:hover {
        content: url("assets/howToPlayDark.png");
    }
}
#endScreen {
    /*citing w3school: https://www.w3schools.com/cssref/tryit.php?filename=trycss3_background_hero*/
    background-image: url("assets/mainBackground.png");
    background-color: #cccccc; /* Used if the image is unavailable */
    width: 640px;
    height: 480px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */

    position: relative;
    color: white;
    text-align: center;

    h1 {
        font-size: 48px;
        font-weight: bold;
    }

    p {
        font-size: 24px;
    }

    img.playAgain:hover {
        content: url("assets/playAgainDark.png");
    }
}
#tutorialScreen {
    /*citing w3school: https://www.w3schools.com/cssref/tryit.php?filename=trycss3_background_hero*/
    background-image: url("assets/mainBackground.png");
    background-color: #cccccc; /* Used if the image is unavailable */
    width: 640px;
    height: 480px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */

    position: relative;
    color: white;
    text-align: center;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-buttons {
    text-align: center;
    position: absolute;
    top: 55%;
    left: 20%;
}
.buttons-top-right {
    position: absolute;
    left: 490px;
}
.buttons {
    cursor: pointer;
}
img.exit:hover {
    content: url("assets/exitDark.png");
}